.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  opacity: 1;
}

.footer__link:hover {
  opacity: 0.8;
  transition: 0.8s;
}

.footer__link:not(:hover) {
  opacity: 1;
  transition: 0.8s;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
  }
}
