.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #ffffff;
  padding-top: 12px;
  opacity: 1;
}

.place__link:hover {
  opacity: 0.8;
  transition: 0.8s;
}

.place__link:not(:hover) {
  opacity: 1;
  transition: 0.8s;
}