.place__description {
  max-width: 484px;
  width: 100%;
  grid-area: text;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
<<<<<<< HEAD
    .place__description {
        max-width: 456px;
    }
=======
  .place__description {
    max-width: 456px;
  }
>>>>>>> gh-pages
}

@media screen and (max-width: 767px) {
  .place__description {
    max-width: 100%;
  }
} 
