.place__description {
    min-width: 240px;
    max-width: 484px;
    width: 100%;
    grid-area: text;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .place__description {
        max-width: 456px;
    }
}

@media screen and (max-width: 1023px) {
    .place__description {
        /* min-width: 352px; */
    }
}

@media screen and (max-width: 767px) {
    .place__description {
        max-width: 100%;
    }
}